build/
build-*/
ClientApp.pro.user
*.pro.user
*.pro.user.*
*.o
*.obj
*.a
*.lib
*.so
*.dll
*.dylib
*.exe
*.out
*.app
ui_*.h
moc_*.cpp
moc_*.h
qrc_*.cpp
object_script.*
Makefile*
*.Debug
*.Release
debug/
release/
ipch/
.vs/
.vscode/
.DS_Store
Thumbs.db